{:paths ["src" "classes"] 
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}}
 :aliases {:dev {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}
                 :jvm-opts ["-Djdk.attach.allowAttachSelf"]}}}